
.section-newuser{
	text-align: center;
	.logo{
		
		img{
			max-width: 250px;
		}
		h1{
			    font-size: 40px;
			    color: #fff;
		}
	}
	.search{
		    max-width: 500px;
		    margin: auto;
		    padding-top: 10px;
		    .item{
		    	color: #fff;
		    	font-size: 25px;
		    }
	}
	.search-result{
		max-height: 37px;
		overflow: hidden;
		/*background-color: #999;*/
	}

	.search  input {
	    font-size: 16px;
	    width: 100%;
	    border-radius: 43px;
	    border: 1px solid #c2c2c2;
	    margin-bottom: 10px;
	    line-height: 32px;
	    text-align: center;
            width: 44%;
    margin: 0 5px;
	     box-sizing: border-box; 
	     -webkit-transition: .5s; 
	     transition: .5s; 
	     outline: 0; 
	     font-family: 'Prompt', sans-serif;
	     line-height: 41px;
	}
	.search input:focus {
	        border: 3px solid #c3da02;
	}

	.search .btn-t{
		line-height:42px;
	    border-radius: 5px;
	    color: #fff;
	    user-select: none;
	    font-size: 19px;
	    text-shadow: 0 2px 0 #000;
        border: 3px solid #fff;
	    /*background-color: #935800;*/
	    /*box-shadow: 0 10px 0 0 #583400;*/
	    -webkit-transition: -webkit-transform .7s;
	    -moz-transition: -moz-transform .7s;
	    -ms-transition: -ms-transform .7s;
	    -o-transition: -o-transform .7s;
	    transition: transform .7s;
	    margin-bottom: 10px;
        width:  219px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 16px;
        margin-top: 15px;
	}
	.search .btn-t:hover {
	    opacity: .8;
	    cursor: pointer;
	    -webkit-transform: translateY(-5px);
	    -moz-transform: translateY(-5px);
	    -ms-transform: translateY(-5px);
	    -o-transform: translateY(-5px);
	    transform: translateY(-5px);
	}



	.search .btn-t:active {
	    -webkit-transition: -webkit-transform 0s;
	    -moz-transition: -moz-transform 0s;
	    -ms-transition: -ms-transform 0s;
	    -o-transition: -o-transform 0s;
	    transition: transform 0s;
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -o-transform: translateY(0);
	    transform: translateY(0);
	    opacity: 1;
	}
	.slow{
	      -webkit-transition: max-height .3s;
		    -moz-transition: max-height .3s;
		    transition: max-height .3s;
		   max-height: 0px;
		   overflow: hidden;


	}
	.zoomOut{
		max-height: 0px;
		transition-delay: .2s;


	}
	.zoomIn{
		    max-height: 108px;
	}
	.search h3{
        margin: 10px;
        /*color: red;*/
            margin-bottom: 0;
    }
    .successful-div{
    	font-size: 20px;
    }
    .successful{
    	color: #01f301!important;
    }
    .successful-name{
    	color: #fff!important;
    }
    .error{
    	color: red;
    }
    .cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
	    margin-top: 27px;
}

.cssload-speeding-wheel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 3px solid rgb(255,255,255);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

}

.section-menu{
	-webkit-transition: -webkit-transform 0.5s;
	    -moz-transition: -moz-transform 0.5s;
	    -ms-transition: -ms-transform 0.5s;
	    -o-transition: -o-transform 0.5s;
	    transition: transform 0.5s;
}