
.section-question{
	.question-panal{
		/*background-color: #ddd;*/
		color: #fff;
    font-size: 18px;
		/*padding: 18px;*/
	}
	.head-panal h3{
		margin:0;
	}
	.head-panal{
		padding: 18px;
		
		
	}
	.content-panal{
		padding: 0px 18px 18px 18px;
	}
	.content-panal ul{
		margin:0;
		
	}
}